<?xml version="1.0"?>
<robot name="car_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gazebo="http://gazebo.apache.org/xmlns/gazebo">

  <xacro:include filename="inertial_macros.xacro" />

  <!-- Base Link -->
  <link name="base_link"/>
  <link name="base_footprint">
    <collision>
      <geometry>
        <box size="0.55 0.4 0.01"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.55 0.4 0.01"/>
      </geometry>
      <material name="footprint_material">
        <color rgba="0.0 0.0 1.0 0.5"/>
      </material>
    </visual>
  </link>

  <joint name="base_footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 -0.05"/>
  </joint>

  <!-- Chassis -->
  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="-0.1 0 0"/>
  </joint>

  <link name="chassis">
    <visual>
      <origin xyz="0.275 0 0.075"/>
      <geometry>
        <box size="0.55 0.4 0.15"/>
      </geometry>
      <material name="chassis_material">
        <color rgba="0.40 0.23 0.72 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.275 0 0.075"/>
      <geometry>
        <box size="0.55 0.34 0.15"/>
      </geometry>
    </collision>
      <xacro:inertial_box mass="0.5" x="0.55" y="0.4" z="0.15">
            <origin xyz="0.275 0 0.075" rpy="0 0 0"/>
         </xacro:inertial_box>
  </link>

  <!-- Rear Wheels -->
  <joint name="left_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0 0.225 0" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
      <material name="wheel_material">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
    </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.075">
            <origin xyz="0 0 0" rpy="0 0 0"/>
         </xacro:inertial_cylinder>
  </link>

  <joint name="right_wheel_joint" type="continuous">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0 -0.225 0" rpy="1.57 0 0"/>
    <axis xyz="0 0 -1"/>
  </joint>

  <link name="right_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
      <material name="wheel_material">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
    </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.075">
            <origin xyz="0 0 0" rpy="0 0 0"/>
         </xacro:inertial_cylinder>
  </link>

  <!-- Front Wheels -->
  <joint name="left_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_front_wheel"/>
    <origin xyz="0.3 0.225 0" rpy="-1.57 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="left_front_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
      <material name="wheel_material">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
    </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.075">
            <origin xyz="0 0 0" rpy="0 0 0"/>
         </xacro:inertial_cylinder>
  </link>

  <joint name="right_front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_front_wheel"/>
    <origin xyz="0.3 -0.225 0" rpy="1.57 0 0"/>
    <axis xyz="0 0 -1"/>
  </joint>

  <link name="right_front_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
      <material name="wheel_material">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.075" length="0.04"/>
      </geometry>
    </collision>
        <xacro:inertial_cylinder mass="0.1" length="0.04" radius="0.075">
            <origin xyz="0 0 0" rpy="0 0 0"/>
         </xacro:inertial_cylinder>
  </link>

  <!-- Gazebo Parameters -->
  <gazebo reference="chassis">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="left_front_wheel">
       <mu1>0.000001</mu1>
         <mu2>0.000001</mu2>
  </gazebo>

  <gazebo reference="right_front_wheel">
     <mu1>0.000001</mu1>
         <mu2>0.000001</mu2>
  </gazebo>

</robot>